@media screen and (min-width: 1520px) and (max-width: 1900px) {

    .article_hebergements {
        width: 295px;
    }
    #activites article {
        width: 390px;
    }
    nav ul {
        margin-left: 73%;
    }
}