@media screen and (max-width: 1256px) and (min-width: 1024px) {
	body {
		width: auto;
        margin: 0;
	}
	.page {
		width: auto;
		margin: 0;
	}
	header {
		width: auto;
	}
	nav {
		width: auto;
		flex-wrap: wrap;
	}
	nav ul {
		margin: 0;
		justify-content: space-around;
		width: 100%;
		padding-top: 10px;
		border-bottom: 3px solid #F2F2F2;
		padding-bottom: 20px;
		padding-left: 0;
	}
	nav ul li a:hover {
		border-bottom: 3px solid #0065FC;
		padding-bottom: 20px;
		border-top: none;
	}
	.sinscrire {
		order: 0;
	}
	header h1 {
		padding-top: 20px;
	}
	.filtres {
		width: auto;
		flex-direction: column;
	}
	.filtres h2 {
		align-items: flex-start;
		justify-content: flex-start;
		margin-top: 30px;
	}
	.filtres ul {
		flex-wrap: wrap;
		padding: 0;
        margin-left: 0;
	}
	.filtres ul li {
		margin: 0 10px 10px 0;
	}
    input[type=search] {
        width: 50%;
    }
	.loupe {
		display: none;
	}
	label {
		align-items: center;
        justify-content: center;
        display: flex;
        width: 50px;
        height: 40px;
        border-radius: 10px;
        background-color: #0065FC;
	}
	label i {
		color: #ffffff;
	}
	.partie1_main {
		flex-direction: column;
	}
	#Hébergements {
		width: auto;
		margin-bottom: 30px;
	}
	.section_hebergements {
    align-items: center;
    }
    .article_hebergements {
    	width: 250px;
    }
    #afficher_plus {
        padding: 10px 0 15px 20px;
    }
    #populaires {
    	margin-left: 0;
    	width: auto;
    }
    #activites {
    	flex-flow: row wrap;
    	justify-content: space-around;
    }
    .vieux_port {
    	margin: 15px 0 20px 20px;
    	height: 180px;
        width: 320px;
    }
    #img_vieux_port {
    	height: 80%;
    }
    .fort_de_pomegues {
    	margin: 15px 0 20px 20px;
    	height: 180px;
        width: 320px;
    }
    #img_fort_pomegues {
    	height: 80%;
    }
    .ile_du_frioul {
    	margin: 15px 0 20px 20px;
    	height: 180px;
        width: 320px;
    }
    #img_ile_du_frioul {
    	height: 80%;
    }
    .parc_des_calanques {
    	margin: 15px 0 20px 20px;
    	height: 180px;
        width: 320px;
    }
    #img_parc_des_calanques {
    	height: 80%;
    }
    .notre_dame {
        margin: 15px 0 20px 20px;
    	height: 180px;
        width: 320px;
    }
    #img_notre_dame {
    	height: 80%;
    }
    .parc_longchamp {
    	margin: 15px 0 20px 20px;
    	height: 180px;
        width: 320px;
    }
    #img_parc_longchamp {
    	height: 80%;
    }
    .activites_pomegues_et_frioul {
    	order: -1;
    }
    footer {
    	width: auto;
    }
}