/* Section_1 */

main {
	margin: 30px 30px 0 30px;
}
main h2 {
	font-size: 13px;
	font-weight: bold;
	margin: 5px 0 0 0;
}
main p {
	margin: 5px 0 0 0;
}
.section_hebergements a {
	color: #000000;
	text-decoration: none;
}
.article_hebergements {
	width: 230px;
	height: 185px;
	background-color: #ffffff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}
.article_hebergements img {
	width: 97%;
	height: 60%;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	padding: 3px;
}
.description_hotel {
	padding-left: 15px;
	background-color: #ffffff;
}
#étoiles1,#étoiles2,#étoiles3,#étoiles4,#étoiles6,#étoiles7,#étoiles8,#étoiles9,#étoiles10,#étoiles11,#étoiles12,#étoiles13,#étoiles14,#étoiles16,#étoiles17,#étoiles18,#étoiles21,#étoiles22,#étoiles23,#étoiles24,#étoiles26,#étoiles27,#étoiles28,#étoiles29,#étoiles30,#étoiles31,#étoiles32,#étoiles33,#étoiles34,#étoiles35,#étoiles36,#étoiles37,#étoiles38,#étoiles39,#étoiles41,#étoiles42,#étoiles43,#étoiles44 {
	color: #0065FC;
	font-size: 8px;
}
#étoiles5,#étoiles15,#étoiles19,#étoiles20,#étoiles25,#étoiles40,#étoiles45 {
	color: #F2F2F2;
	font-size: 8px;
}
section span {
	font-weight: bold;
}
.section_hebergements {
	display: flex;
	flex-direction: column;
}
#Hébergements {
	background-color: #F2F2F2;
	border-radius: 15px;
	width: 65%;
}
.section_hebergements {
	display: flex;
	flex-flow : row wrap;
	justify-content: space-around;
}
.article_hebergements {
	margin: 15px 0 20px 0;
}
main div h1 {
	padding: 20px 0 0 20px;
}
#afficher_plus {
	padding: 30px 0 0 20px;
	font-weight: bold;
}