body {
	font-family: "Raleway", sans-serif;
}

/* Header */

header {
	margin: 20px 30px 0 30px;
}
nav {
	display: flex;
	justify-content: space-between;
}
nav ul {
	display: flex;
	list-style: none;
}
nav ul li {
	margin: 0 10px 0 15px;
}
nav ul li a {
	color: #000000;
	text-decoration: none;
}
nav ul li a:hover {
	color: #0065FC;
}
nav ul li:nth-child(3) {
	font-weight: bold; color: #0065FC;
}
body h1 {
	font-weight: bold;
	font-size: 16px
}
body p {
	font-size: 12px;
}
button {
	border-radius: 0 10px 10px 0;
	background-color: #0065FC;
	color:#ffffff;
	height: 40px;
	width: 110px;
	border:none;
}
input[type=search] {
	background-color: #ffffff;
	height: 40px;
	width: 200px;
	border : 1px solid #F2F2F2;
}
#logo_ma_recherche {
	background-color: #F2F2F2;
	border-radius: 10px 0 0 10px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
form {
	display: flex;
	flex-direction: row;
	margin: 0;
}
.filtres {
	display: flex;
}
header div h2 {
	font-size: 13px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}
header div ul {
	display: flex;
	list-style: none;
	align-items: center;
	font-weight: bold;
	font-size: 13px;
}
header div ul li {
	display: flex;
	align-items: center;
	margin: 0 10px 0 10px;
}
header ul li a {
	color: #000000;
	text-decoration: none;
}
header div ul li a:hover {
	background-color: #0065FC;
}
#éco_logo {
	background-color: #DEEBFF;
	color: #0065FC;
	width: 28px;
	height: 28px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #DEEBFF;
}

.liste_filtres_éco {
	border-radius: 20px;
	border : 2px solid #F2F2F2;
	width: 140px;
	height: 28px;
	display: flex;
	align-items: center;
}
#famille_logo {
	background-color: #DEEBFF;
	color: #0065FC;
	width: 28px;
	height: 28px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #DEEBFF;
}

.liste_filtres_famille {
	border-radius: 20px;
	border : 2px solid #F2F2F2;
	width: 120px;
	height: 28px;
	display: flex;
	align-items: center;
}
#romantique_logo {
	background-color: #DEEBFF;
	color: #0065FC;
	width: 28px;
	height: 28px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #DEEBFF;
}

.liste_filtres_romantique {
	border-radius: 20px;
	border : 2px solid #F2F2F2;
	width: 140px;
	height: 28px;
	display: flex;
	align-items: center;
}
#animaux_logo {
	background-color: #DEEBFF;
	color: #0065FC;
	width: 28px;
	height: 28px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #DEEBFF;
}

.liste_filtres_animaux {
	border-radius: 20px;
	border : 2px solid #F2F2F2;
	width: 170px;
	height: 28px;
	display: flex;
	align-items: center;
}
header div ul li span {
	margin-left: 10px;
}
#logo_infos {
	background-color: #0065FC;
	color: #ffffff;
	border: 1px solid #DEEBFF;
	border-radius: 50%;
}

/* Section_1 */

main {
	margin: 30px 30px 0 30px;
}
main h2 {
	font-size: 13px;
	font-weight: bold;
	margin: 5px 0 0 0;
}
main p {
	margin: 5px 0 0 0;
}
.section_hebergements a {
	color: #000000;
	text-decoration: none;
}
.article_hebergements {
	width: 230px;
	height: 185px;
	background-color: #ffffff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}
.article_hebergements img {
	width: 97%;
	height: 60%;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	padding: 3px;
}
.description_hotel {
	padding-left: 15px;
	background-color: #ffffff;
}
#étoiles1,#étoiles2,#étoiles3,#étoiles4,#étoiles6,#étoiles7,#étoiles8,#étoiles9,#étoiles10,#étoiles11,#étoiles12,#étoiles13,#étoiles14,#étoiles16,#étoiles17,#étoiles18,#étoiles21,#étoiles22,#étoiles23,#étoiles24,#étoiles26,#étoiles27,#étoiles28,#étoiles29,#étoiles30,#étoiles31,#étoiles32,#étoiles33,#étoiles34,#étoiles35,#étoiles36,#étoiles37,#étoiles38,#étoiles39,#étoiles41,#étoiles42,#étoiles43,#étoiles44 {
	color: #0065FC;
	font-size: 8px;
}
#étoiles5,#étoiles15,#étoiles19,#étoiles20,#étoiles25,#étoiles40,#étoiles45 {
	color: #F2F2F2;
	font-size: 8px;
}
section span {
	font-weight: bold;
}
.section_hebergements {
	display: flex;
	flex-direction: column;
}
#Hébergements {
	background-color: #F2F2F2;
	border-radius: 15px;
	width: 65%;
}
.section_hebergements {
	display: flex;
	flex-flow : row wrap;
	justify-content: space-around;
}
.article_hebergements {
	margin: 35px 0 0 0;
}
main div h1 {
	padding: 20px 0 0 20px;
}
#afficher_plus {
	padding: 60px 0 20px 20px;
	font-weight: bold;
}

/*Aside*/

#populaires {
	background-color: #F2F2F2;
	border-radius: 15px;
	width: 35%;
	margin-left: 30px;
}
main aside {
	display: flex;
	flex-direction: column;
	align-items: center;
}
main aside article {
	margin: 35px 0 20px 0;
}
aside a {
	color: #000000;
	text-decoration: none;
}
.article_populaires {
	background-color: #ffffff;
	border-radius: 15px;
	width: 320px;
	height: 145px;
	display: flex;
	flex-direction: row;
}
aside img {
	border-radius: 15px 0 0 15px;
	height: 97%;
	width: 40%;
	object-fit: cover;
	padding: 3px;
}
.description_hotel_populaires {
	padding-left: 15px;
	background-color: #ffffff;
	width: 115px;
}
aside h2 {
	padding: 10px 0 0 0;
}
.étoiles_populaires  {
	padding: 50px 0 0 0;
}
aside span {
	font-weight: bold;
}
.partie1_main {
	display: flex;
	flex-direction: row;
}

/*Section_2*/
#activites a {
	color: #000000;
	text-decoration: none;
}
#activites {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}
.vieux_port,.parc_des_calanques {
	display: flex;
	flex-direction: column;
	height: 440px;
	width: 285px;
	background-color: #ffffff;
	border-radius: 15px;
}
#img_vieux_port, #img_parc_des_calanques {
	height: 90%;
	width: 100%;
	object-fit: cover;
	border-radius: 15px 15px 0 0;
}
.activites_pomegues_et_frioul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}	
.fort_de_pomegues,.parc_longchamp {
	height: 245px;
	width: 285px;
	background-color: #ffffff;
	border-radius: 15px;
}
#img_fort_pomegues,#img_parc_longchamp {
	height: 80%;
	width: 100%;
	object-fit: cover;
	border-radius: 15px 15px 0 0;
}
.ile_du_frioul,.notre_dame {
	height: 155px;
	width: 285px;
	background-color: #ffffff;
	border-radius: 15px;
}
#img_ile_du_frioul,#img_notre_dame {
	height: 70%;
	width: 100%;
	object-fit: cover;
	border-radius: 15px 15px 0 0;
}
#activites h2 {
	padding-left: 15px;
}
.parc_des_calanques h2, .vieux_port h2 {
	padding-top: 5px;
}
#activites article {
	box-shadow: 0 0 5px 5px #F2F2F2;
}

/*Footer*/

footer {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #F2F2F2;
	justify-content: space-around;
	margin:30px 0 0 0;
}
.elements_footer {
	display: flex;
	flex-direction: column;
}
footer div ul {
	list-style: none;
	padding-left: 0;
}
footer h3 {
	font-size: 13px;
	font-weight: bold;
	padding-top: 15px;
}
footer li {
	font-size: 12px;
	padding-top: 5px;
}